@use "sass:color";
@use "sass:math";

// Configuration
@import "node_modules/bootstrap/scss/functions";
@import "./variables";
@import "node_modules/bootstrap/scss/variables";

$custom-select-padding-x: $input-padding-x !default;
$custom-select-bg-size: 8px 10px !default; // In pixels because image dimensions
$component-active-color: $white !default;
$custom-control-indicator-checked-color: $component-active-color !default;
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>") !default;

@import "node_modules/bootstrap/scss/variables-dark";

// @import "node_modules/admin-lte/build/scss/bootstrap-variables";
@import "./vendor/admin-lte/variables";
@import "./vendor/admin-lte/variables-alt";
@import "./vendor/admin-lte/mixins";

@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";

@import "./custom/images";

// Hover mixin and `$enable-hover-media-query` are deprecated.
//
// Originally added during our alphas and maintained during betas, this mixin was
// designed to prevent `:hover` stickiness on iOS-an issue where hover styles
// would persist after initial touch.
//
// For backward compatibility, we've kept these mixins and updated them to
// always return their regular pseudo-classes instead of a shimmed media query.
//
// Issue: https://github.com/twbs/bootstrap/issues/25195

@mixin hover() {
  &:hover {
    @content;
  }
}

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus() {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

@import "./overrides/admin-lte/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/accordion";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/offcanvas";
@import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";

/*!
 *   AdminLTE v3.2.0
 *   Author: Colorlib
 *   Website: AdminLTE.io <https://adminlte.io>
 *   License: Open source - MIT <https://opensource.org/licenses/MIT>
 */
// @import "~admin-lte/build/scss/mixins";

@import "./vendor/admin-lte/root";
@import "./vendor/admin-lte/animation-effects";
// @import "node_modules/admin-lte/build/scss/preloader";
@import "./overrides/admin-lte/layout";
@import "./vendor/admin-lte/main-header";
@import "./overrides/admin-lte/brand";
@import "./overrides/admin-lte/main-sidebar";
@import "./vendor/admin-lte/sidebar-mini";
// @import "node_modules/admin-lte/build/scss/control-sidebar";
// @import "node_modules/admin-lte/build/scss/dropdown";
@import "./vendor/admin-lte/navs";
@import "./vendor/admin-lte/pagination";
// @import "node_modules/admin-lte/build/scss/forms";
// @import "node_modules/admin-lte/build/scss/progress-bars";
@import "./vendor/admin-lte/cards";
// @import "node_modules/admin-lte/build/scss/modals";
// @import "node_modules/admin-lte/build/scss/toasts";
@import "./overrides/admin-lte/buttons";
// @import "node_modules/admin-lte/build/scss/callout";
// @import "node_modules/admin-lte/build/scss/alerts";
// @import "node_modules/admin-lte/build/scss/table";
// @import "node_modules/admin-lte/build/scss/carousel";
// @import "node_modules/admin-lte/build/scss/close";
@import "./vendor/admin-lte/small-box";
@import "./vendor/admin-lte/info-box";
// @import "node_modules/admin-lte/build/scss/timeline";
// @import "node_modules/admin-lte/build/scss/products";
// @import "node_modules/admin-lte/build/scss/direct-chat";
// @import "node_modules/admin-lte/build/scss/users-list";
// @import "node_modules/admin-lte/build/scss/social-widgets";
// @import "node_modules/admin-lte/build/scss/pages/mailbox";
// @import "node_modules/admin-lte/build/scss/pages/lockscreen";
// @import "node_modules/admin-lte/build/scss/pages/login_and_register";
// @import "node_modules/admin-lte/build/scss/pages/404_500_errors";
// @import "node_modules/admin-lte/build/scss/pages/invoice";
@import "./vendor/admin-lte/pages/profile";
// @import "node_modules/admin-lte/build/scss/pages/e-commerce";
// @import "node_modules/admin-lte/build/scss/pages/projects";
// @import "node_modules/admin-lte/build/scss/pages/iframe";
// @import "node_modules/admin-lte/build/scss/pages/kanban";
// @import "node_modules/admin-lte/build/scss/parts/plugins";
// @import "node_modules/admin-lte/build/scss/parts/miscellaneous";
@import "./vendor/admin-lte/miscellaneous";
@import "./vendor/admin-lte/print";
@import "./vendor/admin-lte/text";
@import "./vendor/admin-lte/elevation";
@import "overrides/admin-lte/colors";

// .b-pagination {
//   li.page-item {
//     &:not(.active) {
//       color: $green;
//     }
//     &.active {
//       .page-link {
//         background-color: $green;
//       }
//     }
//   }
// }
html,
body {
  height: 100% !important;
}
body.full-height {
  min-height: 100% !important;
  #__nuxt,
  #__layout {
    height: 100% !important;
  }
}

.pointer {
  cursor: pointer
}

// #frontend-navbar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
// }

$wizard-color-neutral: #ccc !default;
$wizard-color-active: #4183d7 !default;
$wizard-color-complete: #87d37c !default;
$wizard-step-width-height: 64px !default;
$wizard-step-font-size: 24px !default;

@import "https://fonts.googleapis.com/css?family=Roboto";

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.step-wrapper {
  padding: 20px 0;
  display: none;

  &.active {
    display: block;
  }
}

.step-indicator {
  border-collapse: separate;
  display: table;
  margin-left: 0px;
  position: relative;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
  padding-top: 20px;

  li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;

    &:after {
      background-color: $wizard-color-neutral;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
      top: math.div($wizard-step-width-height, 2);
    }

    &:after {
      left: 50%;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &.active {
      .step {
        border-color: $wizard-color-active;
        color: $wizard-color-active;
      }

      .caption {
        color: $wizard-color-active;
      }
    }

    &.complete {
      &:after {
        background-color: $wizard-color-complete;
      }

      .step {
        border-color: $wizard-color-complete;
        color: $wizard-color-complete;
      }

      .caption {
        color: $wizard-color-complete;
      }
    }
  }

  .step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $wizard-color-neutral;
    color: $wizard-color-neutral;
    font-size: $wizard-step-font-size;
    height: $wizard-step-width-height;
    line-height: $wizard-step-width-height;
    margin: 0 auto;
    position: relative;
    width: $wizard-step-width-height;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  .caption {
    color: $wizard-color-neutral;
    padding: 11px 16px;
  }
}

.bg-overlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}
